;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Fri Aug  1 12:36:49 2014
;; Desktop file format version 206
;; Emacs version 24.3.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring nil)
(setq regexp-search-ring nil)
(setq register-alist nil)
(setq file-name-history '("~/.emacs" "~/Envs/liex/liex/main/" "~/Envs/liex/liex/blog/templates/" "~/Envs/liex/liex/liex/" "~/Envs/liex/liex/main/" "~/Envs/liex/liex/" "~/.recentf" "~/.emacs" "~/.emacs.d/elpa/archives/melpa/archive-contents" "~/.emacs.d/elpa/archives/gnu/archive-contents" "~/.emacs.d/elpa/sublime-themes-readme.txt" "~/.emacs.d/vince-theme.el" "~/.emacs.d/elpa/sublime-themes-20140206.804/sublime-themes-autoloads.el" "~/Envs/liex/liex/main/templates/meilleurs_cas.html" "~/Envs/liex/liex/main/templates/faq.html" "~/Envs/liex/liex/main/views.py" "~/Envs/liex/liex/main/models.py" "~/Envs/liex/liex/main/templates/html/faq.html" "~/Envs/liex/liex/main/templates/html/meilleur_cas.html" "~/Envs/liex/liex/main/urls.py" "~/Envs/liex/liex/blog/models.py" "~/Envs/liex/liex/blog/templates/blog.html" "~/Envs/liex/liex/main/templates/html/blog.html" "~/Envs/liex/liex/blog/views.py" "~/Envs/liex/liex/liex/settings.py" "~/Envs/liex/liex/liex/urls.py"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/home/vince/.emacs"
  ".emacs"
  'emacs-lisp-mode
  '(projectile-mode)
  4413
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/vince/Envs/liex/liex/blog/views.py"
  "views.py"
  'python-mode
  '(auto-complete-mode yas-minor-mode elpy-mode projectile-mode eldoc-mode)
  1
  '(nil nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . undecided-unix)))

